.register-form {
    width: 30%;
    margin: 10vh auto;
    height: 350px;
    padding: 15px;
    text-align: center;
}

.register-form-item {
    display: inline-flex;
    width: 80%;
    min-height: 70px;
    margin-top: 15px !important;
}

.register-form-submit-button-wrapper {
    align-items: center;
}

.register-form-submit-button {
    width: 100%;
}